*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}


body {
	background-color: #e9e9e9;
	font-size: 17px;
	min-width: 320px;
	position: relative;
	line-height: 1.7;
	font-family: "RobotoRegular", "Arial", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
/*-----header-----*/
header {
	text-transform: uppercase;
	margin: 55px 0;
	font-size: 24px;
	line-height: 1.6;
}
header .container {
	padding: 0;
}
.header_blue_line {
	background-color: #52789d;
	color: #fff;
}
.header_mainpicture_wrapper {
	width: 100%;
	height: 1px;
	position: relative;
}
.header_mainpicture_inner {
	position: absolute;
	width: calc(100% - 25px);
	z-index: 10;
}
.header_mainpicture_inner  img {
	width: 100%;
}
h1 {
	font-family: "RobotoLight", "Arial", sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	line-height: 1em;
}
h3 {
	display: inline-block;
	padding: 1em 0 .5em;
	/*font-family: "RobotoLight", "Arial", sans-serif;*/
	letter-spacing: 3px;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}
.headline_color_box {
	display: inline-block;
	width: 10px;
	height: 2em;
	background-color: #52b89d;
	vertical-align: sub;
}
.subheadline_wrapper {
	text-align: center;
}
.header_description, .header_phone_contacts {
	font-family: "RobotoLight", "Arial", sans-serif;
}
h1, h2, .header_description, .header_phone_contacts {
	padding-left: 25px;
}
.header_phone_contacts a {
	font-family: "RobotoRegular", "Arial", sans-serif;
	text-decoration: underline;
}
section img {
	width: calc(100% - 60px);
	margin: 5px auto;
	display: block;
}
section .col-md-12 {
	padding: 0;
	margin: 0;
}
section p {
	padding: 0 30px;
}
p span {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 1.2em;
}
section .row {
	background-color: rgb(255, 255, 255);
}
.intro .row {
	background-color: transparent;
	font-style: italic;
}
.intro p {
	/*font-family: "RobotoLight", "Arial", sans-serif;*/
	font-size: 22px;
}
.intro p span {
	font-size: 1em;
}
.signature {
	text-align: right;
}
.content {
	margin-top: 55px;
}
.docs_img_wrapper {
	width: 100%;
}
.docs_img_wrapper img {
	width: 100%;
	height: auto;
}
/* .container>.row>.col-md-3*9>.docs_img_wrapper>img[src="img/docs/0$.jpg"] */
.docs_bg {
	position: absolute;
	width: 100vw;
	/*height: 100%;*/
	height: auto;
	background-color: #52789d;
	left: 0;
}
iframe {
	width: 100%;
	height: 500px;
}